<div class="sidebar d-flex flex-column p-3">
  <div class="logo mb-4 text-center">
    <h4 class="text-white fw-bold">Financeiro<span class="text-accent">.</span></h4>
  </div>

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-white d-flex align-items-center">
        <i class="bi bi-grid-1x2-fill me-2"></i> Dashboard
      </a>
    </li>
    
    <li class="nav-item">
      <a routerLink="/compras" routerLinkActive="active" class="nav-link text-white d-flex align-items-center">
        <i class="bi bi-file-earmark-pdf me-2"></i> Compras / PDF
      </a>
    </li>
    
    <li class="nav-item">
       <a routerLink="/lista" routerLinkActive="active" class="nav-link text-white d-flex align-items-center">
        <i class="bi bi-card-list me-2"></i> Lançamentos
      </a>
    </li>
    
    <li class="nav-item">
      <a routerLink="/categorias" routerLinkActive="active" class="nav-link text-white d-flex align-items-center">
        <i class="bi bi-tags me-2"></i> Categorias
      </a>
    </li>

     <li class="nav-item">
     <a routerLink="/estoque" routerLinkActive="active" class="nav-link text-white d-flex align-items-center gap-2">
  <i class="bi bi-box-seam"></i> <span>Dispensa / Estoque</span>
</a>
    </li>
  </ul>

  <hr class="text-white opacity-25">
  
  <div class="logout">
    <button class="btn btn-link text-white text-decoration-none p-0 d-flex align-items-center" (click)="logout()">
      <i class="bi bi-box-arrow-left me-2"></i> Sair
    </button>
  </div>
</div>